KOSIS_API_KEY=YOUR_KOSIS_API_KEY
KOSIS_MCP_AUTH_TOKEN=YOUR_CONNECTOR_TOKEN
KOSIS_MCP_META_CACHE_TTL=3600
KOSIS_MCP_QUERY_TABLE_MAX_FANOUT=80
KOSIS_MCP_QUERY_TABLE_CONCURRENCY=8
KOSIS_MCP_QUERY_TABLE_CALL_TIMEOUT=15
